<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Knowle Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="./static/botui/botui.min.css" />
    <link rel="stylesheet" href="./static/botui/theme.css" />
    <meta name="description" content="Knowle Bot">
  </head>
  <body>
    <div>
      <img src="./static/imgs/KWMC-logo.jpg" alt="Knowle West Media Center" class="center">
    </div>
    <div class="botui-app-container" id="client_bot_ui">
      <bot-ui></bot-ui>
    </div>
    <script src="./static/node_modules/socket.io-client/dist/socket.io.js"></script>
    <script src="./static/botui/vue.min.js"></script>
    <script src="./static/botui/botui.js"></script>
    <script src="./static/client.js"></script>
  </body>
</html>
